@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  height: 100vh;
  margin: -10rem 0;
  transition: all 0.54s ease;
}


@media screen and (min-width:1024px) {
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -5rem;
  }
}